sentence-transformers
torch
torchvision
torchaudio
datasets 
PyPDF2
streamlit
pandas
scikit-learn
matplotlib
seaborn
numpy
nltk
pdfminer.six
python-docx
plotly
umap-learn
kaggle
kagglehub
accelerate>=0.26.0

